body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: rgb(35, 35, 35);
    color: aliceblue;
}

.page-title {
  margin: 0 auto;
  text-align: center;
}

.page-information {
  margin: 0 auto;
  text-align: center;
}
.list-title {
  margin: 0 auto;
  text-align: center;
  display: block;
  font-size: 15px;
  width: 350px;
  color: rgb(0, 0, 0);
  background-color: green;
  padding: 15px;
}
.first-todo-list,
.input-section {
  display: block;
  margin: 0 auto;
  width: 350px;
  text-align: center;
  padding-bottom: 10px;
}

.page-title {
  padding-top: 50px;
  padding-bottom: 50px;
}

.table-list-title {
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 6px;
  border-radius: 10px;
}

.todo-grid,
.input-section {
  display: grid;
  grid-template-columns: 120px 110px 70px;
  column-gap: 25px;
  row-gap: 25px;
  align-items: center;
}

.input-section {
  margin-bottom: 30px;
  align-items: stretch;
}

.js-title-input,
.js-dueDate-input {
  font-size: 15px;
  width: 100px;
  padding: 6px;
  border-radius: 12px;
}

.submit-button {
  background-color: green;
  color: black;
  border: none;
  font-size: 15px;
  border-radius: 12px;
  cursor: pointer;
}
.submit-button:hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 2px #30c477;
  transition: 0.7s;
}

.done-button {
  background-color: rgb(13, 90, 207);
  color: black;
  border: none;
  font-size: 15px;
  border-radius: 12px;
  cursor: pointer;
}
.done-button:hover {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 2px rgb(144, 36, 36);
  transition: 0.4s;
}
